<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" 
			  content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>{% block title %}Рецепты{% endblock %} | Foodgram</title>
		{% load static %}
		{% block css %}<link rel="stylesheet" href="{% static 'pages/index.css' %}">{% endblock %}
	</head>
	<body class="body">
		{% include 'recipes/nav.html' %}
		<main class="main container">
			{% block content %}
			{% endblock content %}
		</main>
		{% include 'recipes/footer.html' %}
	</body>
</html>
