{% load recipes_filters %}

{% if request.user.is_authenticated %}
    {% if recipe.author|subscribed:request.user %}
        <button class="button button_style_light-blue button_size_subscribe" name="subscribe" >Отписаться от автора</button></p>
    {% else %}
        {% if not recipe.author == request.user %}
            <button class="button button_style_light-blue button_size_subscribe" name="subscribe" data-out>Подписаться на автора</button></p>
        {% endif %}
    {% endif %}
{% endif %}