{% extends 'base.html' %}
{% block title %}Рецепты{% endblock %}
{% load recipes_filters %}

{% block content %}
{% csrf_token %}
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">
                {% if author.first_name %}
                    {{ author.first_name }}
                {% else %}
                    {{ author.username }}
                {% endif %}
            </h1>
        <ul class="tags">
            {% with filter_values=request.GET|get_filter_values %}
                {% for tag in tags %}
                    <li class="tags__item">
                        <a id="{{ tag.slug }}" class="tags__checkbox tags__checkbox_style_{{ tag.color_slug }}
                            {% if tag.slug in filter_values %}tags__checkbox_active{% endif %}" href="?{{ request|get_filter_link:tag }}"></a>
                        <span class="tags__label">{{ tag.name }}</span>
                    </li>
                {% endfor %}
            {% endwith %}
        </ul>
        </div>
        {% if request.user.is_authenticated %}
            {% if request.user != author %}
                <div class="author-subscribe" data-author="{{ author.id }}">
                    <p style="padding: 0 0 2em 0;">
                        {% if author|subscribed:user %}
                            <button class="button button_style_light-blue button_size_subscribe" name="subscribe">Отписаться от автора</button>
                        {% else %}
                            <button class="button button_style_light-blue button_size_subscribe" name="subscribe" data-out="True">Подписаться на автора</button>
                        {% endif %}
                    </p>
                </div>
            {% endif %}
        {% endif %}
        <div class="card-list">
                {% for recipe in page %}
                    <div class="card" data-id={{ recipe.id }}>
                        {% include "recipes/previewRecipe.html" with recipe=recipe %}
                    </div>
                {% endfor %}
        </div>
        {% include 'paginator.html' with page=page paginator=paginator %}
    </main>
{% endblock %}

{% block javascript %}
{% load static %}
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/Purchases.js' %}"></script>
<script src="{% static 'js/components/Favorites.js' %}"></script>
<script src="{% static 'js/components/Subscribe.js' %}"></script>
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/AuthorRecipe.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'authorRecipe.js' %}"></script>
{% endblock %}

