{% extends 'base.html' %}
{% load static %}

{% block content %}
  <main class="main container">
    <div class="main__header">
        <h1 class="main__title">Регистрация</h1>
    </div>
    <div class="form-container">
      <form class="form" method="post" >
        {% csrf_token %}
        {% for field in form %}
          <div class="form__group">
            <label for="id_"+{{ field.name }} class="form__label">
              {{ field.label }}
            </label>
            <div class="form__field-group">
              <input type="text" name="{{ field.name }}" id="id_"+{{ field.name }}" class="form__input">
              <span class="form__error"></span>
            </div>
          </div>
        {% endfor %}
        <button type="submit">Sign up</button>
      </form>
    </div>
  </main>
{% endblock %}
