{% load recipes_filters %}

<div class="single-card__favorite">
    {% if request.user.is_authenticated %}
            {% if recipe|favorite:user %}
                <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite icon-favorite_big icon-favorite_active"></span></button>
                <div class="single-card__favorite-tooltip tooltip"></div>
            {% else %}
                <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite icon-favorite_big""></span></button>
                <div class="single-card__favorite-tooltip tooltip"></div>
            {% endif %}
    {% endif %}
</div>