.single-card__item {
    margin-right: 8px;
    height: 100%;
}
/* .single-card__item {
    margin-right: 8px;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0 0 15px;
    padding: 0;
} */
